- defaults:
    link:
      relink: true

- link:
    ~/.gitconfig: gitconfig
    ~/.zshrc: zsh/zshrc
    ~/.zsh_plugins.txt: zsh/zsh_plugins.txt
    ~/.bashrc: bashrc
    ~/.default-python-packages: default-python-packages

- shell:
    - command: git clone --depth=1 https://github.com/mattmc3/antidote.git ~/.antidote || true
      description: Getting antidote for zsh module bundle
    - command: git clone https://github.com/asdf-vm/asdf.git ~/.asdf --branch v0.10.2 || true
      description: Getting asdf for version managing
    - command: sh $DOTFILES_PATH/load_asdf_plugins.sh
      description: Loading asdf plugins
      stdout: true
      stderr: true
    - command: if ! [ -x "$(command -v starship)" ]; then curl -sS https://starship.rs/install.sh | sh; fi
      stdout: true
      stderr: true
    - command: if ! [ -d "$(dirname "$(navi info config-path)")" ];then mkdir -p "$(dirname "$(navi info config-path)")"; fi
    - command: ln -sf $DOTFILES_PATH/navi/config.yaml "$(navi info config-path)"
